<div class="container">
  <div class="d-flex align-items-center p-3 my-2">
    <h4 class="border-bottom border-primary border-3 page-title">フォロー中ユーザー</h4>
  </div>
  <%= render 'public/users/user_list', users: @following_users %>
</div>