/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  align-items: center
}

.page-title {
  font-family: "Hannotate TC";
}

.btn-favorited {
  background-color: #FA7CC1;
  color: white;
  padding: 2px;
}

.btn-favorit {
  border-color: #FA7CC1;
  color: #FA7CC1;
}

.first-form {
  max-width: 580px;
}

.pagination {
  justify-content: center;
}

.top {
  background-image: image-url('top.png');
  background-size: cover;
}

.top_image {
  position: absolute;
  width: 100%;
  height: auto;
}

.top_image2 {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.top_text {
  // width: 25%;
  position: absolute;
  top: 14vw;
  left: 6vw;
  text-align: center;
  font-family: "Hannotate TC";
}

.top_text h1, .top_text h4 {
  font-size: 1.6rem;
}


.favorit_icon {
  object-fit: cover;
}

.about_image {
  width: 100%;
  object-fit: cover;
}

.user_image {
  object-fit: cover;
}

#about {
  position: relative;
  top: 8vw;
}

#about h3 {
  text-align: center;
}